.appShell .sapMPageHeader .sapMTitle{
    font-weight: bold;
}

html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
    width: 100% !important;
    margin-left: 0px !important;
    left: 0% !important;
}